<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Jupyter Notebook Assessment

Introduction: 
Jupyter Notebook for the Tools for Data Science Exam

List of Data Science Languages
1. Python    
2. Julia
3. R         
4. Java
5. SQL       
6. C++
7. Scala     
8. Javascript
9. Ruby      
10. PHP

List of Data Science Libraries
1. Panda
2. NumPy
3. SciKit-Learn
4. Tensorflow
5. Keras
6. PyTorch

Data Science Tools
|Categories for Data Science Tools| Tools|
|--------------------------------|---------------|
Data Management                  | Oracle Database, Microsoft SQL Server, IBM DB2
Data Integration & Tranformation | Apache, NodeRED, Informatica, SAP, Oracle, SAS, Talend, IBM Inforsphere DataStage
Data Visualization               | Hue, Kubana, Apache Superset
Model Deployment                 | Apache PredictionIO, Seldon, MLeap, Tensorflow
Model Monitoring & Assessment    | ModelDB, Prometheus
Code Asset Management            | IBM AI Explanatory 360 Toolkit, Git
Data Asset Management            | Apache Atlas

Examples of Arithmetic Expressions
10y + 3
7x - 2
3x * 5
12z / 4

Addition and Multiplication of Numbers

In [7]:
8+9

17

In [8]:
3*14

42

Convert Minutes to Hours

In [26]:
minutes = await input('Enter minutes: ')
print('hours: ' + minutes // 60)

Enter minutes:  60

List of Objectives
- Learn Data Science languages
- Learn Data Science Tools
- Learn Data Science categories
- Learn Open Source Data Science Tools

Author's Name: 
Siphiwe Madela